In [34]:
import os
import pandas as pd

# Directory containing the data files
data_dir = "alpha_vantage_data"

# List all CSV files in the directory
files = [f for f in os.listdir(data_dir) if f.endswith('.csv')]

# Load and concatenate all CSV files into one DataFrame
df = pd.concat([pd.read_csv(os.path.join(data_dir, f)) for f in files], ignore_index=True)

# df

In [35]:
import numpy as np

# Calculate log returns
df['log_return'] = np.log(df['close'] / df['close'].shift(1))
df.dropna(inplace=True)

In [36]:
df.describe()

,open,high,low,close,volume,log_return
count,148304.000000,148304.000000,148304.000000,148304.000000,1.483040e+05,148304.000000
mean,188.868258,188.927092,188.808550,188.868354,1.228049e+04,-0.000001
std,22.622569,22.628825,22.615777,22.622388,1.091321e+05,0.002362
min,139.618900,150.446000,139.618900,149.484200,1.000000e+00,-0.303360
25%,171.017000,171.075300,170.978200,171.026700,7.600000e+01,-0.000293
50%,183.210000,183.277200,183.148000,183.215900,3.021000e+03,0.000000
75%,209.101600,209.160300,209.070850,209.101600,6.278000e+03,0.000285
max,236.135400,236.499300,235.928200,236.157300,1.200030e+07,0.340371